* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--background);
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

input:focus-visible,
input:focus,
select:focus-visible,
select:focus,
textarea:focus-visible,
textarea:focus {
  outline: none;
}
